<!DOCTYPE html>
<html>
  <head>
    <title>GoalApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= button_to 'Log out', session_url, method: :delete %>
    <% if logged_in? %>
    <%= current_user.username %>
    <% end  %>
    <%= yield %>
  </body>
</html>
